### Connection

In [ ]:
from pymongo import MongoClient
from pprint import pprint

client = MongoClient()

### Excercise 1

In [ ]:
db = client['lab']
blackpink = db['newjeans']

In [ ]:
newjeans.insert_one({'name': 'Minji', 'age': 18})
result = newjeans.find()
pprint(list(result))

In [ ]:
newjeans.insert_many([{'name': 'Hanni', 'age': 19}, {'name': 'Danielle', 'age': 18}, , {'name': 'Haerin', 'age': 17}])
pprint(list(newjens.find()))

### Excercise 2

In [ ]:
res = newjeans.update_one({'name': 'Hanni'}, {'$set' : {'location': 'Rome'}})
pprint(list(newjeans.find()))

In [ ]:
newjeans.update_many({'age': 18}, {'$set' : {'location': 'Paris'}})
pprint(list(newjeans.find()))

In [ ]:
# using upsert option (default value == False)
newjeans.update_one({'name': 'Hyein'}, {'$set' : {'age': 15}}, upsert=True)
pprint(list(newjeans.find()))

### Exercise 3

In [ ]:
newjeans.delete_many({'location': 'Paris'})
pprint(list(newjeans.find()))

## Excercise 4

In [ ]:
db = client['lab']
col = db['imdb']

### Excercise 4-1

### write an input method

In [ ]:
def input_movie_info():
    title = input("Movie Title:")
    director = input('Director:')
    genre = input('Genre:').split(',')
    score = float(input('Score:'))
    
    return title, director, genre, score

### type in a movie information

In [ ]:
t, d, g, s = input_movie_info()

col.insert_one({
    'title': t,
    'director': d,
    'genre': g,
    'score': s
})
print('[INFO] Success to insert!')

In [ ]:
print('[INFO] Movie list')
pprint(list(col.find()))

### Exercise 4-2

In [ ]:
quit = False
movies = []
while(not quit):
    t, d, g, s = input_movie_info()
    
    doc = {'title': t, 'director': d, 'genre': g, 'score': s}
    movies.append(doc)
    
    end = input('Quit (Y/N)? ')
    if(end == 'Y'):
        quit = True

col.insert_many(movies)
print('[INFO] Success to insert!')

In [ ]:
print('[INFO] Movie list')
pprint(list(col.find()))

### Excercise 4-3

In [ ]:
print('[INFO] Enter the movie title you want to update.')
t, d, g, s = input_movie_info()

col.update_one(
    {'title': t},
    {
        '$set': {
            'director': d,
            'genre': g,
            'score': s
        }
    }
)

print('[INFO] Success to update!')

In [ ]:
print('[INFO] Movie list')
pprint(list(col.find()))

### Excercise 4-4

In [ ]:
print('[INFO] Enter the movie title you want to remove.')
title = input('Movie Title: ')

delete_op = input('[INFO] Are you sure? (Y/N)')
if delete_op =='Y':
    col.delete_one({'title': title})
    print('[INFO] Deleted')

In [ ]:
print('[INFO] Movie list')
pprint(list(col.find()))